{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}
{% block body %}
    <h1>Modification mot de passe</h1>
    <a href="{{ path('account') }}">Retourner à mon compte</a>
    {{form(form)}}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
