{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe  - La Boot'Ique{% endblock %}
{% block body %}
    <h2>Modification mot de passe</h2>
    {{form(form)}}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a title="Retour vers votre espace membres"href="{{ path('account') }}">Retourner à mon compte</a>
{% endblock %}
