{% extends 'base.html.twig' %}

{% block body %}
<h3>A propos de La Boot'Ique</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eaque harum aliquid repellendus exercitationem nihil in animi velit, dolores perferendis expedita! Dicta excepturi mollitia ullam laborum eligendi. Officiis, dolorum dolore.
    Quaerat illum commodi, ad, voluptatum ab alias veniam omnis minus dicta autem consequatur enim delectus similique amet! Aliquam distinctio maiores, vel cupiditate error architecto quidem itaque voluptates, totam consequuntur omnis.
    Quisquam id, ex accusamus iusto modi autem quis natus at non corporis, voluptate animi porro quam beatae repellendus alias vero. Delectus et aliquid atque? Rem hic unde minima vel odit?
    Distinctio suscipit, cupiditate quod ipsa quaerat reprehenderit perspiciatis modi voluptatum ea quis est magnam odio harum aut dignissimos ipsum maiores accusamus soluta eveniet corrupti debitis molestiae in aliquid. Quaerat, esse?
    Nesciunt ab optio aut! Nisi beatae dolor reprehenderit aspernatur magni, similique quas commodi soluta tenetur voluptates libero fugiat. Repellat culpa suscipit expedita fugit tempora nesciunt eveniet quaerat harum asperiores in.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eaque harum aliquid repellendus exercitationem nihil in animi velit, dolores perferendis expedita! Dicta excepturi mollitia ullam laborum eligendi. Officiis, dolorum dolore.
    Quaerat illum commodi, ad, voluptatum ab alias veniam omnis minus dicta autem consequatur enim delectus similique amet! Aliquam distinctio maiores, vel cupiditate error architecto quidem itaque voluptates, totam consequuntur omnis.
    Quisquam id, ex accusamus iusto modi autem quis natus at non corporis, voluptate animi porro quam beatae repellendus alias vero. Delectus et aliquid atque? Rem hic unde minima vel odit?
    Distinctio suscipit, cupiditate quod ipsa quaerat reprehenderit perspiciatis modi voluptatum ea quis est magnam odio harum aut dignissimos ipsum maiores accusamus soluta eveniet corrupti debitis molestiae in aliquid. Quaerat, esse?
    Nesciunt ab optio aut! Nisi beatae dolor reprehenderit aspernatur magni, similique quas commodi soluta tenetur voluptates libero fugiat. Repellat culpa suscipit expedita fugit tempora nesciunt eveniet quaerat harum asperiores in.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eaque harum aliquid repellendus exercitationem nihil in animi velit, dolores perferendis expedita! Dicta excepturi mollitia ullam laborum eligendi. Officiis, dolorum dolore.
    Quaerat illum commodi, ad, voluptatum ab alias veniam omnis minus dicta autem consequatur enim delectus similique amet! Aliquam distinctio maiores, vel cupiditate error architecto quidem itaque voluptates, totam consequuntur omnis.
    Quisquam id, ex accusamus iusto modi autem quis natus at non corporis, voluptate animi porro quam beatae repellendus alias vero. Delectus et aliquid atque? Rem hic unde minima vel odit?
    Distinctio suscipit, cupiditate quod ipsa quaerat reprehenderit perspiciatis modi voluptatum ea quis est magnam odio harum aut dignissimos ipsum maiores accusamus soluta eveniet corrupti debitis molestiae in aliquid. Quaerat, esse?
    Nesciunt ab optio aut! Nisi beatae dolor reprehenderit aspernatur magni, similique quas commodi soluta tenetur voluptates libero fugiat. Repellat culpa suscipit expedita fugit tempora nesciunt eveniet quaerat harum asperiores in.
</p>
{% endblock %}