.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    position: relative;
    height: 100%;
}

.footer-custom{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(222, 234, 248);
    box-shadow:0px 0px 10px 0.1rem rgba(0, 0, 0, 0.082);
}

.footer-custom li {
    list-style: none;
}

.navbar {
    box-shadow:0px 0px 10px 0.1rem rgba(0, 0, 0, 0.479);
}

.product-item {
    margin-bottom: 1.5em;
}

.product-item h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0.1em;
}

.product-subtitle {
    display: block;
    margin-bottom: 0.2em;
}

.product-price {
    font-weight: bold;
    display: block;
}

.col-form-label{
    font-weight: bold;
    /* margin-bottom: 0.3em; */
}

strong {
    display: block;
    padding: 7px 0;
}

[name="order"] .form-check {
    background-color: rgba(225, 232, 235, 0.295);
    padding: 1.5em 3em;
    margin-bottom: .5em;
    border-radius: .3em;
    box-shadow:0px 0px 5px 0.1rem rgba(0, 0, 0, 0.1);

}

[name="order"] .form-check:hover {
    box-shadow:0px 0px 10px 0.1rem rgba(0, 0, 0, 0.30);
}

.cart-summary {
    padding: 1em;
    background-color: rgba(225, 232, 235, 0.295);
    box-shadow:0px 0px 5px 0.1rem rgba(0, 0, 0, 0.1);
}