<ul class="list-group list-group-flush">
    <li class="list-group-item">&copy; 2022 La Boot'Ique</li>                
    <li class="list-group-item">Mentions légales</li>                
    {# <li class="list-group-item"><a href="#">Retour haut de page</a></li>                 #}
</ul>
