{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 Page non trouvée</h1>

    <p>
        La page demandée est introuvable :( <br>
        <a href="{{ path('home') }}">Retour à l'accueil</a>.
    </p>
{% endblock %}
